<template>
    <form @submit.prevent="register" @keydown="form.onKeydown($event)">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name"/>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
        <div class="col-md-7">
          <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
          <has-error :form="form" field="email"/>
        </div>
      </div>
      <!-- Password -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
        <div class="col-md-7">
          <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
          <has-error :form="form" field="password"/>
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
        <div class="col-md-7">
          <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
          <has-error :form="form" field="password_confirmation"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Roles</label>
        <div class="col-md-7">
          <div class="d-flex align-content-start flex-wrap">
              <div class="col-sm-4" v-for="item in roles" :key="item.id">
                 <input  type="checkbox" :id="item.id" :value="item.id" v-model="form.roles">
                 <label>{{item.name}}</label>
              </div>
             <!-- <input type="checkbox" id="mike" value="Mike" v-model="checkedNames"> -->
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-7 offset-md-3 d-flex flex-row-reverse">
          <v-button :loading="form.busy">
            Create
          </v-button>
        </div>
      </div>
    </form>
</template>

<script>
import Form from 'vform'
import {mapGetters} from 'vuex'
export default {
  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      roles: []
    })
  }),
  computed: mapGetters ({ roles: 'roles/rows' }),
  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/users')

    }
  },
  mounted () {
    this.$store.dispatch('roles/fetchRoles');
  }
}
</script>
