<template>
   <div>
     <dl class="row">
      <dt class="col-sm-3">Id</dt>
      <dd class="col-sm-9">{{ user.id }}</dd>
      <dt class="col-sm-3">Account Id</dt>
      <dd class="col-sm-9">{{ user.account_id }}</dd>
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{ user.name }}</dd>
      <dt class="col-sm-3">Roles</dt>
      <dd class="col-sm-9">
        <!-- <div class="row"> -->
          <div class="d-flex align-content-start flex-wrap">
          <template v-for="item in user.roles" >
          <div :key="item.id" class="col-sm-3" >
            <input disabled checked class="form-check-input" type="checkbox" :value="item">
            <label class="form-check-label">
              {{ item }}
            </label>
          </div>
          </template>
          </div>
        <!-- </div> -->
      </dd>
      <dt class="col-sm-3">Permissions</dt>
      <dd class="col-sm-9">
        <div class="d-flex align-content-start flex-wrap">
          <template v-for="item in user.permissions" >
          <div :key="item.id" class="col-sm-3" >
            <input disabled checked class="form-check-input" type="checkbox" :value="item.name">
            <label class="form-check-label">
              {{ item.name }}
            </label>
          </div>
          </template>
        </div>
      </dd>
      <dt class="col-sm-3">Created At</dt>
      <dd class="col-sm-9">{{ user.created_at }}</dd>
      <dt class="col-sm-3">Updated At</dt>
      <dd class="col-sm-9">{{ user.updated_at }}</dd>
    </dl>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  props: {
    id: {
      type: String
    }
  },
  watch: {
    id: {
        immediate: true, 
        handler (val) {
           this.fetchRole(val)
        }
    }
  },
  methods: {
    fetchRole (id) {
      this.$store.dispatch('users/fetchUser', id)
    }
  },
  computed: mapGetters({ 
    user: 'users/user'
  }),
  mounted () {
    this.fetchRole(this.id)
  }
}
</script>
