<template>
    <form @submit.prevent="create" @keydown="form.onKeydown($event)">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-7 offset-md-3 d-flex flex-row-reverse">
          <v-button :loading="form.busy">
            Create
          </v-button>
        </div>
      </div>
    </form>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      name: ''
    })
  }),

  methods: {
    async create () {
      const { data } = await this.form.post('/api/permissions')

    }
  }
}
</script>
