<template>
  <div class="row">
    <div class="col-2">
      <sidebar />
    </div>
    <div class="col-10">
      <card :title="title">
          <template slot="card-header-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal" >Create</button>
          </template>
          <v-data-table class="table-striped" :data="permissions" :columns="table.columns" :options="table.options">
            <th slot="th-action" style="width:12%"></th>
            <td slot="td-action" style="width:12%">  
              <button class="btn btn-primary btn-sm"><fa icon="eye" fixed-width/> </button> 
              <button class="btn btn-secondary btn-sm"><fa icon="pencil-alt" fixed-width/> </button>
              <button class="btn btn-danger btn-sm"><fa icon="trash" fixed-width/> </button> 
            </td>
          </v-data-table>
      </card>
       <v-modal>
         <template slot="modal-title">
          Create Permission
         </template>
         <template slot="modal-body"> 
            <permission-form/>
         </template>
       </v-modal>
    </div> 
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import PermissionForm from './form'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      title: 'Permissions',
      table: {
        columns: [
            { text: 'Id', value: 'id', width: '5%' },
            { text: 'Name', value: 'name' },
            { text: 'Created At', value: 'created_at' },
            { text: 'Updated At', value: 'updated_at' },
          ],
        options: {}
      }
    }
  },
  
  middleware: 'auth',

  metaInfo () {
    return { title: this.title }
  },

  computed: mapGetters({
    permissions: 'permissions/all'
  }),

  components: {
    Sidebar,
    PermissionForm
  },
  
  mounted () {
     this.$store.dispatch('permissions/fetchPermissions')
  }
}
</script>
