<template>
  <div class="row">
    <div class="col-2">
      <sidebar />
    </div>
    <div class="col-10">
      <card :title="$t('home')">
        {{ $t('you_are_logged_in') }}
      </card>
    </div>
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },
  components: {
    Sidebar
  }
}
</script>
