<template>
  <div class="row">
    <div class="col-2">
      <sidebar />
    </div>
    <div class="col-10">
      <card title="agencies">
          <template slot="card-header-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal" >Create</button>
          </template>
          <v-data-table class="table-striped" :data="agencies" :columns="table.columns" :options="table.options"/>
      </card>
       <v-modal>
         <template slot="modal-title">
           Agencies
         </template>
         <template slot="modal-body"> 
            <user-form/>
         </template>
       </v-modal>
    </div> 
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import UserForm from './form'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      table: {
        columns: [
            { text: 'Id', value: 'id', width: '5%' }, 
            { text: 'Name', value: 'name' },
          ],
        options: {}
      }
    }
  },
  middleware: 'auth',

  metaInfo () {
    return { title: "agencies" }
  },

  computed: mapGetters({
    agencies: 'agencies/all'
  }),

  components: {
    Sidebar,
    UserForm
  },
  
  mounted () {
     this.$store.dispatch('agencies/fetchAgencies')
  }
}
</script>
