<template>
  <div class="card">
    <slot name="card-header">
      <div v-if="title" class="card-header">
          <div class="d-flex">
            <div class="p-2 lead align-self-center">
              <slot name="card-header-left">{{ title }}</slot>
            </div>
            <div class="ml-auto p-2 align-self-center">
              <slot name="card-header-right"> </slot>
            </div>
          </div>
      </div>
    </slot>
    <slot name="card-body"> </slot>
    <slot name="card-footer"> </slot>
    <slot> </slot>
  </div>
</template>

<script>
export default {
  name: 'Card',

  props: {
    title: { type: String, default: null }
  }
}
</script>
