<template>
  <table class="table">
    <thead>
      <tr>
        <template v-for="(item, index) in columns">
          <th scope="col" :key="index" v-bind:style="{ width: getWidth(item) }">{{item.text}}</th>
        </template>
        <slot name="th-action"></slot>
      </tr>
    </thead>
    <tbody>
      <template v-for="(row, index) in data">
        <tr :key="index">
          <template v-for="(item, index) in columns">
            <td scope="row" :key="index" v-bind:style="{ width: getWidth(item) }">{{row[item.value]}}</td>
          </template>
          <td>
            <div class="d-flex justify-content-around">
              <template v-for="item in actions">
                <button :key="item.icon" :class="item.class" data-toggle="modal" :data-target="item.modal_target" @click="item.click(row)"> <fa :icon="item.icon" fixed-width/> </button> 
              </template>
            </div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  name: 'VDataTable',
  props: {
    data: { 
      type: Array,
      default: () => { return [] }
    },
    columns: { type: Array },
    options: { type: Object },
    actions: { type: Array }
  },
  methods: {
    getWidth (item) {
      return item.hasOwnProperty('width') ? item.width : '';
    }
  }
}
</script>

