<template>
  <div ref="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
          <slot name="modal-title">
            <!-- modal title  -->
          </slot>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <slot name="modal-body">
            <!-- modal body  -->
          </slot>
        </div>
        <div class="modal-footer">
          <slot name="modal-footer">
            <!-- modal footer  -->
            <div class="d-flex">(1/1)</div>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VModal'
}
</script>
