<template>
  <div>
      <nav class="d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <router-link class="nav-link" to="/home">
                <fa icon="home" fixed-width/> Dashboard
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/agencies">
                <fa icon="cube" fixed-width/> Agencies
              </router-link>
            </li>
            <li class="nav-item">
               <router-link class="nav-link" to="/engines">
                <fa icon="cog" fixed-width/> Engines
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/users">
                <fa icon="user" fixed-width/> Users
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/roles">
                <fa icon="users" fixed-width/> Roles
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/permissions">
                <fa icon="lock" fixed-width/> Permissions
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/users">
                <fa icon="file-contract" fixed-width/> Reports
              </router-link>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</template>

<script>
export default {
  
}
</script>

<style>

</style>
