<template>
  <div class="row">
    <div class="col-2">
      <sidebar />
    </div>
    <div class="col-10">
      <card title="Roles">
          <template slot="card-header-left">
            <router-link to="/roles"> Roles</router-link>
          </template>
          <div class="card-body">
            <router-view/>
          </div>
      </card>
    </div>
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'

export default {  
  middleware: 'auth',

  metaInfo () {
    return { title: "Roles" }
  },
  components: {
    Sidebar
  }
}
</script>
