<template>
  <div class="row">
    <div class="col-2">
      <sidebar />
    </div>
    <div class="col-10">
      <card title="Roles">
          <template slot="card-header-left">
            <router-link to="/roles"> Roles</router-link>
          </template>
          <template slot="card-header-right">
            <button type="button" @click="createRole()" class="btn btn-primary" data-toggle="modal" data-target="#roles-modal" >Create</button>
          </template>
          <div class="card-body p-0" slot="card-body">
            <div class="d-flex p-3">
              <div class="align-self-center">
                  <input type="text" class="form-control" placeholder="search" aria-label="search by">
              </div>
              <div class="ml-auto align-self-center">
                    <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm mb-0">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
              </div>
            </div>
            <v-data-table class="table-striped my-0 border-top-0" :data="roles" :actions="table.actions" :columns="table.columns" :options="table.options">
              <th slot="th-action" style="width:12%"></th>
            </v-data-table>
            <div class="d-flex p-3">
                <div class="align-self-center">
                    <div class="form-inline">
                        <!-- <span class="small text-muted">show</span> -->
                        <div class="form-group mr-sm-2">
                          <select class="form-control form-control-sm">
                            <option selected>10</option>
                            <option value="1">25</option>
                            <option value="2">50</option>
                            <option value="3">100</option>
                          </select>
                        </div>
                        <span class="small text-muted">per page</span>
                    </div>
                </div>
                <div class="ml-auto">
                   <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm mb-0">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
            </div>
          </div>
          <div slot="card-footer" class="card-footer p-0">
      
          </div>
      </card>
       <v-modal id="roles-modal">
         <template slot="modal-title">
           {{ role.title }}
         </template>
         <template slot="modal-body"> 
            <component :is="role.component" :id="roleId.toString()"/>
         </template>
       </v-modal>

    </div> 
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import RoleForm from './form'
import RoleShow from './show'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      roleId: '',
      role: { component:'role-form', title: 'Create Role' },
      table: {
        columns: [
            { text: 'Id', value: 'id', width: '5%' },
            { text: 'Name', value: 'name', width: '35%' },
            { text: 'Created At', value: 'created_at' },
            { text: 'Updated At', value: 'updated_at' },
          ],
        options: {},
        actions: [
          { icon: 'eye', modal_target: '#roles-modal', class: 'btn btn-primary btn-sm', 
            click:  (row) => {
              console.log(row)
              this.showRole(row)
            }
          },
          { icon: 'pencil-alt', modal_target: '#roles-modal', class: 'btn btn-secondary btn-sm' },
          { icon: 'trash', modal_target: '#roles-modal', class: 'btn btn-danger btn-sm' }
        ],
      }
    }
  },
  
  middleware: 'auth',

  metaInfo () {
    return { title: "Roles" }
  },

  computed: mapGetters({
    roles: 'roles/rows'
  }),

  methods: {
    showRole (row) {
      this.roleId = row.id
      this.role = { component: 'role-show', title: 'Show Role' };
    },
    createRole () {
      this.role = { component: 'role-form', title: 'Create Role' };
    }
  },

  components: {
    Sidebar,
    RoleShow,
    RoleForm
  },

  mounted () {
    this.$store.dispatch('roles/fetchRoles')
  }
}
</script>
