<template>
   <div>
     <dl class="row">
      <dt class="col-sm-3">Id</dt>
      <dd class="col-sm-9">{{ role.id }}</dd>
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{ role.name }}</dd>
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ role.description }}</dd>
      <dt class="col-sm-3">Permissions</dt>
      <dd class="col-sm-9 row">
        <template v-for="item in role.permissions" >
        <div :key="item.id" class="form-check col-sm-3" >
          <input disabled checked class="form-check-input" type="checkbox">
          <label class="form-check-label" for="defaultCheck1">
            {{ item.name }}
          </label>
        </div>
        </template>
      </dd>
    </dl>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  props: {
    id: {
      type: String
    }
  },
  watch: {
    id: {
        immediate: true, 
        handler (val, oldVal) {
           this.fetchRole(val)
        }
    }
  },
  methods: {
    fetchRole (id) {
      this.$store.dispatch('roles/fetchRole', id)
    }
  },
  computed: mapGetters({ 
    role: 'roles/role'
  }),
  mounted () {
    this.fetchRole(this.id)
  }
}
</script>
